* {
	margin: 0;
	padding: 0;
}

.third {
	display: flex;
	flex-direction: column;
}

.statement {
	align-self: center;
	margin-bottom: 3.125rem;
}

.el-carousel {
	width: 75rem;
	align-self: center;
}

.el-carousel__item:nth-child(2n) {
	background-color: #99a9bf;
}

.el-carousel__item:nth-child(2n+1) {
	background-color: #d3dce6;
}

.third-image {
	max-width: 100%;
	/* max-height: 100%; */
}